ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	margin-top:15px;
}
.nav__trainer {
	font-size:20px;
}
.nav__group {
	font-size: 14px;
	margin-top:5px;
	margin-left: 20px;
	
}
.nav__wrapper {
	width: 15%;
	text-decoration: none;
	border: 1px solid black;
	padding:0 10px 5px 50px;
}